html, body {
    height: 100%;
    min-height: 100%;
}

.password-area {
    input {
        border-radius: 0;
    }
    button {
        top: 0;
        right: 15px;
        border-radius: 0;
    }
}
